* {
   margin: 0px;
   padding: 0px;
}
body {
  font-family: "Open sans";
}

#trace {
 display: block;
 height: 65px;
 width : 202px;
 padding-top: 20px;
 background-image: url("../images/mobile-logo.jpg");
 background-repeat: no-repeat;
 background-position: center;
 margin: 0 auto;
}

#trace span {
 display:block;
 text-indent: -9999px;
 }

#navigation {
 padding-top: 8px;
}

#navigation li{
 padding:7px 0 7px 0;
 margin-bottom: 10px;
 border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;

} 
#navigation li a {
 text-decoration: none;
 text-transform:capitalize;
 display:block;
 width: 100%;
 color : white;
 text-indent: 25px;
 font-size: 18px;
}
#navigation li a span {
 float:right;
 margin-right:20px;
 margin-top:10px;
 height: 9px;
 width : 15px;
 background-image: url("../images/white-arrow.png");
 background-repeat: no-repeat;
}


#navigation .about {
 background-color: #bd2842;
 
}

#navigation .contact {
 background-color: #e97e06;
}

#navigation .contact  a{

}


#crazy-people{
  width: 940px;	
  height: 540px;
  background-image: url("../images/desktop-crazy-people.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hideElement {
  display: none;
}
