//-- Body
$baseFontFamily:'arial';
$baseFontSize:'14px';
$baseLineHeight:'16px';
$textColor:gray;
$bodyBackground:white;


//-- A Links
$aNormal:orange;
$aHover:orange;
$aActive:orange;
$aVisited:orange;
$aFocus:orange;

//-- H1, H1 A
$h1Normal:orange;
$h1Hover:orange;
$h1Active:orange;
$h1Visited:orange;
$h1Focus:orange;

//-- H2, H2 A
$h2Normal:orange;
$h2Hover:orange;
$h2Active:orange;
$h2Visited:orange;
$h2Focus:orange;


//-- H3, H3 A
$h3Normal:orange;
$h3Hover:orange;
$h3Active:orange;
$h3Visited:orange;
$h3Focus:orange;


//-- H4, H4 A
$h4Normal:orange;
$h4Hover:orange;
$h4Active:orange;
$h4Visited:orange;
$h4Focus:orange;

//-- H5, H5 A
$h5Normal:orange;
$h5Hover:orange;
$h5Active:orange;
$h5Visited:orange;
$h5Focus:orange;

//-- H6, H6 A
$h6Normal:orange;
$h6Hover:orange;
$h6Active:orange;
$h6Visited:orange;
$h6Focus:orange;
