# Bootstrap
app/*
web/AppConfig.php

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Extra Files
composer.lock
composer.phar
.phpcomplete_extended/*
/nbproject/private/
nbproject/


# Hosting Files
400.shtml
401.shtml
403.shtml
404.shtml
500.shtml
500.php
default.html
favicon.ico
cgi-bin
cgi-bin/*
error_log