{# user_panel page template #}
{% extends 'authenticated_user/layout.html.twig' %}
{% import "modules/macro.html.twig" as macros %}
{% block content %}
<div id="wrapper">
  <h3>Apply Drush command to build of your choice</h3>
  <div id="page">
    <ul id="login_form">
      <li>
        <form action="/drush" method="GET">
          {{ form_widget(drush_command) }}
          <input type="submit" value="drush command" />
        </form>
      </li>
    </ul>
  </div>
  <h3>Drush commands</h3>
  <div>
    <iframe src="http://www.drushcommands.com/drush-7x/core/core-config"  class="iframe-holder"></iframe>
   </div>
</div>
{% endblock %}
