{# user_panel page template #}
{% extends 'authenticated_user/layout.html.twig' %}
{% import "modules/macro.html.twig" as macros %}

{% block content %}
    <div id="wrapper">
        <h3>Build a new web site</h3>
        <div id="page">
        </div>
    </div>
{% endblock %}
