<<<<<<< HEAD
{# index page template #}
=======
>>>>>>> 9e7360692498ae6e8a11e5ca18bba3b4c2d85bbb
{% extends 'front_pages/layout.html.twig' %}
{% import "modules/macro.html.twig" as macros %}

{% block content %}
 <div id="crazy-people">
 </div>
{% endblock %}