{# user_panel layout template #}
{# extends 'user_panel/base.html.twig' #}

{% block body %}
    <h1 id="trace"><span>Trace User Panel</span></h1>
    {% block content %}
    {% endblock %}
{% endblock %}
